<html>
    <head>
        <title>Yunnew's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href-"">Django Girls Blog of Yunnew</a></h1>
        </div>

        <div>
            <p>published: 23.07.2019, 22:55</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
        <div>
            <p>published: 23.07.2019, 21:14</p>
            <h2><a href="">My Second post</a></h2>
            <p>태그 마침과 중첩의 규칙을 잘 따라야 해요. 그렇지 않으면, 브라우저가 해석할 수 없어 페이지가 원하는 모습으로 나오지 않게 됩니다.</p>
        </div>    
    </body>
</html>